:root {
  --text-colour: #a0a0a0;
}

body {
  background-color: #263842;
  color: var(--text-colour);
}

h1{
  color: var(--text-colour);
  margin-top: 2em;
}

a:link{
  color: rgb(140, 200, 255);
}
a:visited{
  color: rgb(160, 160, 240);
}

button {
  background-color: #588096;
  border: solid;
  border-width: 1px;
  border-color: black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
.protected{
  background-color: red;
}

.koti {
padding: 15%;
margin: 10%;  
}

.vis-div {
  width: 95%;
  padding-left: 2em;
}

.source-link {
  padding: 0.2em;
  float: right;
}

.info-text {
  color: var(--text-colour);
  margin-top: 0em;
  margin-bottom: 1em;
}

.info-title {
  color: var(--text-colour);
  margin-top: 0.3em;
  margin-bottom: 0.6em;
}